NODE_ENV=development
PORT=4000
MONGO_URI=memory
# For local Mongo without auth use: mongodb://localhost:27017/campuszen
JWT_ACCESS_SECRET=change_me_access_32_chars_min
JWT_REFRESH_SECRET=change_me_refresh_32_chars_min
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_REMEMBER_EXPIRES=7d
JWT_REFRESH_DEFAULT_EXPIRES=1d
FRONTEND_URL=http://localhost:3000
COOKIE_SECURE=false
# For production set:
# NODE_ENV=production
# COOKIE_SECURE=true
# FRONTEND_URL=https://campuszen.app
# MONGO_URI=mongodb+srv://...
